- page_title "Список экспедиций"

- if policy(Expedition).new?
  .float-right
    = link_to 'Создать', new_expedition_path, class: 'btn btn-info', remote: true, id: 'new_form'
%table.table.table-hover#expeditions
  %thead
    %tr
      %th Название
      %th

  %tbody
    = render partial: "expeditions/expedition", collection: @expeditions
